.container {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}
.cardContainer{
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35)
}

.rowHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.image{
    position: relative;
}
.image>i{
    font-size: 24px;
    top: 3%;
    right: 8%;
    position: absolute;
    color:white;
}
.image>img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 200px;
    object-fit: cover;
    height: 200px;
}

.cards {
    display: flex;
    gap: 10px;
    height: 280px;
    overflow: auto;
}
.info{
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.cards::-webkit-scrollbar {
    display: none; 
}